
.tm-hero-text-container-inner {
    margin-top: -90px;
    margin-left: auto;
    margin-right: 7%;
    width: 81%;
    max-width: 330px;
    font-size: 0.8em;
  }
  

  .tm-hero-subtitle {
    margin-top: 20px;
    line-height: 1.5em;
    font-size: 1rem;
    color: #fff9e4;
    background-color: #f14481;
    padding: 3px 15px;
}


#menu .list-group-flush .list-group-item {
    border: 0;
    font-weight: 500;
    padding: 4px 11px;
    border-radius: 28px;
    background-color: #f14481aa;
    margin-bottom: 5px;
    width: fit-content;
}

#menu .list-group-flush .list-group-item.link{
  background-color: #7e66dfaa;
}

#menu .list-group-flush .list-group-item.link:hover{
  transition: all 0.3s ease;
  background-color: #7e66df;
  
}



  
#menu .list-group-flush .list-group-item:hover {
    transition: all 0.3s ease;
    background-color: #f14481;
    
}


#menu .list-group-flush .list-group-item:hover a {
    color: white;
}


.tm-intro-next {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    margin-right: 7%;
    text-align: right;
}

.tm-down-arrow {
    color: #FFF;
    cursor: pointer;
    background: #f14481;
    padding: 15px 20px;
}


.tm-text-primary {
    color: #f14481;
}

#infinite {
 background-color: #222;
  background-image: url(../img/fondos/mainBG_mobile-BELEN.jpg);

  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;

  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -100px;
    background-image: url(../img/fondos/mainBG-BELEN.jpg);

  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -200px;
    background-image: url(../img/fondos/mainBG_mobile-BELEN.jpg);


  }
}


small.text-muted{
  display: block;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.card-text{
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 10px 0px;
  padding: 20px 20px;
  background-color: #f5f5f5;
}

.card-text b{
  font-size: 1.1rem;
}

.card-text .badge{
  display: block;
    border-radius: 24px;
    padding: 3px 16px;
    font-size: 0.9rem;
    margin-top: 7px;
    background-color: #ddd;
    width: fit-content;
    font-weight: 500;
    color: black;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  line-height: 1.5rem;
}


    

    

