/*

Tooplate 2117 Infinite Loop

https://www.tooplate.com/view/2117-infinite-loop

*/

@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 0.8rem;
  color: #000003;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fefbe5;

}
a {
  transition: all 0.3s ease;
  color: #7e66df;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #00b35a;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 500;
  padding: 0 8%;
  color: #f14481;
  margin: 35px 0px;
}

.tm-section-pad-top {
  padding-top: 65px;
  padding-bottom: 0px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 40px;
}

.tm-text-primary {
  color: #6742fa;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: #fefbe5;
  background-color: #6742fa;
  padding: 14px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: #fefbe5 ;
  background-color: #7e66df;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #6742f9;
  transition: all 0.3s ease;
  font-family: "Raleway", sans-serif;

}

a.nav-link.navbar-brand.active {
  color: #fefbe550;
}
.tm-navbar.scroll {
  background-color: #fefbe5;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: #fefbe5;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #7e66df;
}

.tm-navbar.scroll .navbar-brand {
  color: #6742fa;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: #fefbe5;
}

.tm-navbar.scroll .tm-nav-link {
  color: #6742fa;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
  background-color: #6742fa;
}

.navbar-toggler {
  border: 1px solid #fefbe5;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: #fefbe5;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}


a.nav-link.navbar-brand.active, a.nav-link.navbar-brand.active:hover {
  color: #fefbe550;
}
/* Hero */

#infinite {
	background-color: #222;
  background-image: url(../img/fondos/mainBG_mobile.jpg);

  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;

  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -210px;
    background-image: url(../img/fondos/mainBG.jpg);

  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -300px;
    background-image: url(../img/fondos/mainBG.jpg);


  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #infinite {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #infinite {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
  margin-left: 7%;
  width: 81%;
  max-width: 330px;
  font-size: 0.8em;
}

.tm-hero-title {
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px #333;
}

.tm-hero-subtitle {
  margin-top: 20px;
  line-height: 1.5em;
  font-size: 1rem;
  color: #fff9e4;
  background-color: #66cf9c;
  padding: 3px 15px;
}


.tm-intro-next {
  position: absolute;
    bottom: 3%;
  left: 0;
  right: 0;
  margin-left: 7%;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
}

.tm-down-arrow {
  	color: #FFF;
    cursor: pointer;
    background: #66cf9c;
    padding: 15px 20px;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  background: #6742fa;
}



.tm-up-arrow-link {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 7px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

}

.tm-up-arrow {
  	color: rgb(2, 2, 2);
    cursor: pointer;
    background: #66cf9c;
    padding: 10px 10px;
    transition: all 0.3s ease;
}

.tm-up-arrow:hover,
.tm-up-arrow:focus {
  color: #FFF;
  background: #6742fa;
}



/* Introduction */

#introduction {
  padding-bottom: 100px;
}

.tm-section-title {
  font-size: 2rem;
  font-weight: bold;
}

.tm-intro-text {
  font-size: 1.2rem;
}

.tm-icon {
  display: block;
  color: #6742fa;
}

.tm-continue {
	padding: 20px 0 30px 0;
}

/* Work */

.tm-section-desc {
  max-width: 650px;
  width: 100%;
  font-size: 0.9rem;
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 15px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.tm-testimonials-carousel .slick-dots li button:before {
  color: #fefbe5;
  opacity: 0.5;
}

.tm-testimonials-carousel .slick-dots li button:hover:before,
.tm-testimonials-carousel .slick-dots li button:focus:before,
.tm-testimonials-carousel .slick-dots li.slick-active button:before {
  color: #fefbe5;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #38C;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
	padding-top: 30px;
	}

/* Contact */

#contact {
  color: #fefbe5;
  background-color: #001828;
  background-image: url(../img/infinite-loop-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 980px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: #fefbe5;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}

.tm-input {
	margin: 0 0 20px 0;
	width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid #fefbe5;
  background: transparent;
  color: #fefbe5;
}

.tm-btn-submit {
	font-size: 0.9em;
	color: #fff;
	background-color: #6742fa;
	width: 50%;
	margin-bottom: 60px;
}

.tm-btn-submit:hover {
	color: #fff;
	background-color: #7e66df;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fefbe5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fefbe5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fefbe5;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a:hover {
	color: #9CF;
}

.tm-footer-link {
  color: #fefbe5;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #7e66df;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

h4.tm-text-primary.mb-4{
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  h4.tm-text-primary.mb-4{
    font-size: 1.5rem;
  }



  .tm-up-arrow-link {
    left: 30px; /* Place the button 30px from the right */
  }

.tm-hero-subtitle {
  font-size: 1.3rem;

}


    .tm-section-title {
      font-size: 2.6rem;
      text-align: center;
    }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
	padding-right: 20px;
  }


}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }



}


.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  line-height: 1.2rem;
  font-size: 0.95rem;
  background-color: #87d48b;
}
.lista li {
  line-height: 1.2rem;
  margin-bottom: 13px;
}

#efectos .tm-text-primary{
  color:black;
}

@media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px)
  {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px){
  .container {
      max-width: 800px;
  }
}



i.far, i.fas {
  margin-right: 10px;
}

#menu .list-group-flush .list-group-item {
    border: 0;
    font-weight: 500;
    padding: 4px 11px;
    border-radius: 28px;
    background-color: #ffffff20;
    margin-bottom: 5px;
    width: fit-content;
}

#menu .list-group-flush .list-group-item:hover{
  transition: all 0.3s ease;
  background-color:#66cf9c;

}



#menu .list-group-flush .list-group-item a{
  color:#f8eebc;
}

#menu .list-group-flush .list-group-item:hover a{
  color:#6442f6;


}



#efectos h2.tm-text-primary.mb-4.tm-section-title, #efectos h4.tm-text-primary.mb-4{
   color: #fff9e4;
}

#efectos a{
  color: #fff9e4;
  font-weight: 500;
}

#efectos .mb-4, #efectos blockquote.blockquote{
  color: black;
  font-weight: 500;
}


a.linkTexto:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0c1";
  padding-right: 3px;
  font-weight: 900;
  padding-left: 4px;

}



#menu .list-group-flush .list-group-item.link{
  background-color: #f14481aa;
}

#menu .list-group-flush .list-group-item.link:hover{
  transition: all 0.3s ease;
  background-color: #f14481;

}

.nav-link.navbar-brand.language{
  font-size: 1rem;
                      opacity: 0.8;
                      font-weight: 500;
}
