#publicaciones {
  padding: 4em;
  background-color: #87d58a;
}

.pub-texto {
  font-size: 1.5em;
  font-weight: 500;
  color: white !important;
/*  margin-top: 1em;*/
}

.impactos-frase {
  color: white;
  text-align: center;
  text-transform:uppercase;
}
